.w-100{width: 100%}
.w-10{width: 10%}
.w-20{width: 20%}
.w-30{width: 30%}
.w-40{width: 40%}
.w-50{width: 50%}
.ml-item{margin-left: 20px;}
.contenedor{
    display: flex; 
    justify-content: space-around; 
    align-items: center
}
.page-content{padding: 10px}
img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 2em;
    max-height: 20em;
}
.mdl-textfield__label{
    color: rgba(0,0,0,.6);
}
progress{
    width: 100%;
    display: none;
}
pre {
    white-space: pre-wrap;
    background-color: #EEEEEE;
    padding: 16px;
}
pre code {
    word-break: break-word;
}

.is-invisible {
   opacity: 0;
}